{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:vue/recommended", "plugin:prettier/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": {
          "resolve": {
            "alias": {
              "@parent-theme": "@vuepress/theme-default",
              "@theme": "@vuepress/theme-default"
            }
          }
        }
      }
    }
  },
  "rules": {
    "linebreak-style": [0, "error", "windows"]
  },
  "overrides": [
    {
      "files": ["docs/.vuepress/theme/**/*.vue"],
      "rules": {
        "prettier/prettier": 0
      }
    }
  ]
}
